@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", SansSerif;
}

body {
  background-color: rgb(230, 230, 230);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 100vh;
}







.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 2em; */
}


.nav-bar {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    width: 100%;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    display: inline-block;
    margin-right: 20px;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
}

.header {
    background-color: #f7f7f7;
    padding: 2em;
    text-align: center;
    margin-top: 50px;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.template-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.template-box {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.template-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
}

.template-box p {
    font-size: 14px;
    margin-bottom: 20px;
    height: 100px;
    color: rgb(29, 29, 29);
}

.template-box button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.template-box button:hover {
    background-color: #555;
}


.topRow {

  width: 100%;
  height: 80px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 60px;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
}

.topRow p {
  font-size: 1.4rem;
  font-weight: bold;
}


.topRow button {
  border-radius: 3px;
  padding: 4px 7px;
  font-size: 0.92rem;
  border: none;
  cursor: pointer;
  margin-inline: 10px;
  transition: .1s ease-in-out;
}


.topRow button:hover {
  font-size: 0.94rem;
}
.editAndSave {
  width: 250px;
}







/* ---------- cv box styling  ----------------- */
.cvBox {
  margin: 50px auto;
  margin-top: 160px;
  width: 80%;
  background: white;
  padding: 30px;
  min-width: 768px;
}

.cv-section {
  margin-bottom: 30px;
}


#personal-info{

  margin-bottom: 50px;
  height: auto;

}
#personal-info>p {
  text-align: center;
  margin-bottom: 0px;
  padding: 5px;
}

#personal-info>p>textarea {
  text-align: center;
  height: 30px;
  /* padding: 5px; */
  margin-bottom: 0px;
}

#personal-info .personName {
  font-size: 2.8rem;
  font-weight: bold;
  height: 70px;
  /* padding-bottom: 9px;

  padding: 5px; */
  
}

.cvBox h1,h2,h3 {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 15px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}
.cvBox p {
  font-size: 1.3em;
  color: #555;
  margin-bottom: 10px;
  /* height: 400px; */
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
  /* background-color: yellow; */
}
p textarea {
  width: 100%;
  font-size: 1em;
  color: #555;
  border: none;
  background: none;
  font-family: inherit;
  /* white-space: pre-wrap; */
  height: auto;
  /* min-height: 80px; */
  /* resize: none; */
  overflow: hidden;
  /* pointer-events: none; */
}

p textarea:focus {
  outline: none;
}


.cvBox p:hover {
  border: 1px dashed gray;
}



#cvBox1 h1,h2,h3{
  color: #000;
}

#cvBox1 p,#cvBox1 p textarea{
  color: #1a1a1a;
}

#cvBox2 h1,h2,h3{
  color: #0010a0;
}

#cvBox2 p,#cvBox2 p textarea{
  color: #000157;
}

#cvBox3 h1,h2,h3{
  color: #860642;
}

#cvBox3 p,#cvBox3 p textarea{
  color: #3a0114;
}

#cvBox4 h1,h2,h3{
  color: #174402;
}

#cvBox4 p,#cvBox4 p textarea{
  color: #032705;
}

#cvBox5 h1,h2,h3{
  color: #57025f;
}

#cvBox5 p,#cvBox5 p textarea{
  color: #410037;
}



#cvBox6{
  border-bottom: 40px solid rgb(255, 123, 0);
}

#cvBox6 h1,h2,h3{
  color:  rgb(255, 123, 0);
}

#cvBox6 p,#cvBox6 p textarea{
  color:black;
}


#cvBox7{
  border-bottom: 40px solid rgb(0, 142, 224);
}

#cvBox7 h1,h2,h3{
  color:  rgb(0, 142, 224);
}

#cvBox7 p,#cvBox7 p textarea{
  color:black;
}


#cvBox8{
  border-bottom: 40px solid rgb(141, 21, 0);
}

#cvBox8 h1,h2,h3{
  color: rgb(141, 21, 0);
}

#cvBox8 p,#cvBox8 p textarea{
  color:black;
}


#cvBox9{
  border-bottom: 40px solid rgb(0, 51, 3);
}

#cvBox9 h1,h2,h3{
  color: rgb(0, 51, 3);
}

#cvBox9 p,#cvBox9 p textarea{
  color:black;
}


#cvBox0{
  border-bottom: 40px solid rgb(0, 194, 201);
}

#cvBox0 h1,h2,h3{
  color: rgb(0, 194, 201);
}

#cvBox0 p,#cvBox0 p textarea{
  color:black;
}




.none {
    display: none;
}



@media (max-width: 375px) {

  .cvBox p,textarea{
    font-size: .9rem;
  }

  .cvBox h1,h2{
    font-size: 1.4rem;
  }

  .topRow {
    padding-inline: 10px;
  }
  .topRow p {
    display: none;

  }

  .topRow button {

    padding: 2px 3px;
    font-size: .7rem;
    margin-inline: 4px;

  }

  .editAndSave {
    width: 160px;
  }
}




@media (max-width: 600px) {
  body {
      padding: 10px;
  }
  h1 {
      font-size: 1.6em;
  }
  p {
      font-size: 1.1em;
  }
}





@media only screen and (max-width: 768px) {
    .template-options {
        flex-direction: column;
    }
    .template-box {
        margin: 10px;
    }

    
  .topRow {
    padding-inline: 20px;
  }

  .topRow button {

    padding: 2px 3px;
    font-size: .8rem;
    margin-inline: 4px;

  }

  .editAndSave {
    width: 160px;
  }
}
